<nav>
  <button routerLink='/basics' routerLinkActive='active' class="ml-2">Basics</button>
  <button routerLink='/department-list' routerLinkActive='active' class="ml-2">Department</button>
  <button routerLink='/employee' routerLinkActive='active' class="ml-2">employee</button>
  <button routerLink='/bootcamp' routerLinkActive='active' class="ml-2">TDF</button>
  <button routerLink='/registration' routerLinkActive='active' class="ml-2">Reactive</button>
  <button routerLink='/querylist' routerLinkActive='active' class="ml-2">Query List</button>
  <button routerLink='/subject' routerLinkActive='active' class="ml-2">Subject</button>
  <button routerLink='/rxjs' routerLinkActive='active' class="ml-2">Rxjs</button>
</nav>
<router-outlet></router-outlet>
